
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');

:root {
    --main-blue: #344955;
    --accent-orange: #F9AA33;
    --secondary-blue: #232F34;
    font-size: 62.5%;
}
html {
    scroll-behavior: smooth;
}
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Lobster', cursive;
}
body {
     scroll-behavior: smooth;
     background-color: #fff;
     width: 100%;
     height: 100%;
}
/* Mobile Menu */
#hamburgerWrapper {
  display: none;
}
/* Navigation */
.mainNav {
    width: 100%;
    position: fixed;
    background-color: var(--main-blue);
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top: 0;

}
.logo {
    font-size: 4rem;
    color: var(--accent-orange);
    letter-spacing: 1.5px;
    margin-left: 100px;
}
.mobileLogInContainer {
    display: none;
}
.mainUl {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.mainLI {
    list-style: none;
    padding: 0 20px;
    position: relative;
    transition: all ease-in-out 120ms;
    height: 50px;
    display: flex;
    align-items: center;
}
.mainLI a {
    color: #fff;
    font-size: 20px;
    padding: 5px;

}
.mainLI:hover {
    animation: jump 500ms ease;
    color: #fff;
}
.mainLI:hover a {
    color: var(--accent-orange);
}
.mainLI:hover .logIn {
    color: #fff;
}
.mainLI .logIn {
    color: var(--accent-orange);
}
.mainLI i {
    font-size: 3rem;
    transition: all ease-in-out 120ms;
    color: var(--accent-orange);
}
.mainLI:hover i {
    color: #fff;
}
/* End of Nazv */
.heroSection {
    background: url(./bump-collaboration-colleagues-1068523.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.heroSectionContentContainer {
    width: 65%;
    z-index: 10;
    margin: 0 auto;
}
.heroOverlay {
    width: 100%;
    height: 80vh;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}
.heroSection .title {
    font-size: calc(2.4rem + 1vw);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0 0 40px 0;
}
.heroSection .text {
    font-size: 2rem;
    color: #fff;
    letter-spacing: 3px;
    line-height: 25px;
}
.title span {
    display: block;
}
.callToActionContainer {
    width: 100%;
    display: flex; 
    margin-top: 50px;
}
.callToAction {
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    font-size: 2rem;
    transition: all ease-in-out 120ms;
    border: 1px solid #fff;
    text-align: center;
}
.callToAction:hover {
    background-color: var(--accent-orange);
    border-color: var(--accent-orange);
    color: fff;
}
/* Up Sell Section */
#upSell {
    flex-flow: row wrap;
    display: flex;
}
.upsellBlock {
    display: flex;
    flex-flow: row wrap;
    /* background: #232f34; */
    width: 65%;
    margin: 50px auto;
    padding: 40px 0;
    justify-content: space-between;
}
.upsellBlock:nth-child(even) {
    flex-flow: row-reverse wrap;
}
.upSellInformation {
    width: 50%;
}
.upSellInformation h3 {
    font-size: 5.5rem;
    width: 100%;
    color: var(--secondary-blue);
    letter-spacing: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.upSellInformation p {
    font-size: 2rem;
    color: var(--secondary-blue);
    letter-spacing: 1px;
    line-height: 35px;
    padding-right: 30px;
}
.IconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    flex-flow: row wrap;
}
.IconContainer .callToActionContainer {
    justify-content: center;
}
.IconContainer .callToAction {
    border: 1px solid #000;
    color: #000;
}
.IconContainer .callToAction:hover {
    color: #fff;
    border-color: #F9AA33;
}
.IconContainer i {
    font-size: 10rem;
    color: var(--accent-orange);
}

/* Footer */
#mainFooter {
    background-color: var(--secondary-blue);
    display: flex;
    flex-flow: row wrap;
    padding: 40px 0;
}
.footerLinksMediaBlock {
    display: flex;
    width: 65%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
}
.footerUlContainer {
    width: 25%;
}
.footerUlContainer .logo {
    margin-left: 0;
    font-size: 3rem;
    text-align: left;
}
/* .footerUl {
    margin-left: 100px;
} */
li.footerLi:first-child {
    padding-top: 10px;
}

li.footerLi {
    padding-bottom: 10px;
}
.footerLi a {
    color: #fff;
    font-size: 1.6rem;
}
.footerLi a:hover {
    text-decoration: underline;
}
.footerLinksMediaBlock i {
    font-size: 5rem;
    color: #F9AA33;
    margin-left: 20px;
    transition: all ease-in-out 120ms;
}
.footerLinksMediaBlock .githubLink {
    display: flex;
    align-items: flex-end;
}
.footerLinksMediaBlock i:hover {
    color: #fff;
}
.footerLinksMediaBlock .fa-github-square {
    margin-left: 0;
}

.developedByTeam ul li {
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
.developedByTeam ul li:first-child {
    padding-top: 5px;
}
.developedByTeam ul li span {
    color: var(--accent-orange);
    font-size: 1.8rem;
    font-style: italic;
}

/* Pricing Page */
section#welcomeContent {
    height: 60vh;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#welcomeContent .IconContainer {    
    width: 45%;
}
#welcomeContent .upsellBlock {
    width: 65%;
    align-items: center;
    margin: 0 auto;
}
section#welcomeContent .callToActionContainer {
    display: none;
}
#pricingblocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    padding: 50px 20px 50px 20px;
}
#pricingblocks h3 {
    width: 65%;
    font-size: 7rem;
    margin-bottom: 50px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.trippleBlockContainer {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 auto;
}
.firstBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 30%;
    min-width: 300px;
    padding: 20px 0;
}
.firstBlock h6 {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    padding-bottom: 10px;
}
.firstBlock p {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 10px;
}
.firstBlock ul {
    width: 100%;
}
.firstBlock li {
    font-size: 1.6rem;
    padding-bottom: 10px;
    list-style: disc;
    margin-left: 10px;
}
/* Contact section */
.title {
    font-size: 7rem;
    width: 65%;
    margin: 70px auto;
    padding-top: 20px;
}
.contactUs {
    width: 65%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}
.contactUs h6 {
    font-size: 3rem;
    padding-top: 20px;
}
.contactUs p {
    font-size: 2rem;
    padding-top: 20px;
}
.contactUs .callToAction {
    color: #000;
    border-color: #000;
    margin-bottom: 50px;
}
.contactUs .callToAction:hover {
    color: #fff;
    border-color: var(--accent-orange)
}
#home #contactContent {
    background-color: #e6e6e6;
}
#home .reachOut {
    width: 100%;
    margin: 0 auto;
}

/* Keyframe animations */
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@media only screen and (max-width: 1100px) {
    .logo {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .mainUl {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .upsellBlock {
        width: 100%;
        flex-flow: row-reverse wrap;
        margin: 0;
    }
    #welcomeContent .upSellInformation {
        width: 100%;
    }
    #welcomeContainer .upsellBlock .IconContainer img {
        width: 100%;
    }
    .upSellInformation {
        width: 90%;
        flex-flow: row-reverse wrap;
        margin: 0;
    }
    #welcomeContent .IconContainer {    
        width: 100%;
    }
    .upsellBlocck .upSellInformation,
    .upsellBlock .IconContainer img {
        width: 50%;
    }
    .upsellBlock:nth-child(even) {
        margin: 0;
        width: 100%;
        background-color: #d6d6d6;
    }
    .IconContainer {
        margin-top: 50px;
        width: 100%;
    }
    .reachOut {
        width: 80% !important;
        margin: 0 auto;
    }
    .title {
      margin-top: 0;
      padding: 50px 0 30px 0;
      margin-bottom: 0;
      width: 80%;
      margin: 0;
    }
    .contactUs {
        width: 80%;
        margin: 0;
    }
    .footerLinksMediaBlock {
        width: 80%;
    }
    section#welcomeContent {
        height: 80vh;
    }

}
/* Media Queries */
@media only screen and (max-width: 800px) {

    #mainFooter {
        margin-bottom: 50px;
    }
    /* Main Nav */
    .mobileLogInContainer {
        font-size: 2rem;
        margin-right: 50px;
        color: #fff;
    }
    .mobileLogInContainer a {
        color: #fff;
        padding-right: 5px;
    }
    .mobileLogInContainer i {
        display: flex;
        align-items: center;
    }
    .mainUl {
        display: none;
    }
    .logo {
        margin-left: 50px;
        text-align: center;
        width: unset;
    }
    /* HeroSection */
    .heroSectionContentContainer {
        z-index: 10;
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
    }
    .upsellBlock {
        width: 100%;
        flex-flow: row-reverse wrap;
        margin: 0;
    }
    .upSellInformation {
        width: 90%;
        flex-flow: row-reverse wrap;
        margin: 0;
    }
    .upsellBlocck .upSellInformation,
    .upsellBlock .IconContainer img {
        width: 90%;
    }
    #welcomeContent .upsellBlock .IconContainer img {
        width: 50%;
    }
    .upsellBlock:nth-child(even) {
        margin: 0;
        width: 100%;
        background-color: #d6d6d6;
    }
    .IconContainer {
        margin-top: 50px;
        width: 100%;
    }

    /* Footer */
    .footerUlContainer .logo {
        text-align: unset;
    }
    .footerLinksMediaBlock {
        width: 90%;
    }
    .footerUlContainer {
        width: 55%
    }
    .socialMediaIcons {
        width: 40%;
    }
    .footerLinksMediaBlock i {
        font-size: 3rem;
        margin-top: 10px;
    }
    .developedByTeam {
        width: 80%;
    }
    .developedByTeam ul li {
        font-size: 1.2rem;
    }
    .developedByTeam ul li span {
        font-size: 1.4rem;
    }

    /* Mobile Menu */
    .mobileLogInContainer {
        display: flex;
    }

  #hamburgerWrapper {
    position: fixed;
    bottom: 0;
    justify-content: center;
    right: 0;
    width: 100%;
    z-index: 111;
    display: flex;
    background: var(--main-blue);
  }

  #hamburgerWrapper .iconLinks {
    color: #fff;
    font-size: 14px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  .iconLinks i {
    font-size: 20px;
  }
  
  /* Pricing Page */
  section#welcomeContent {
    height: 70vh;
  }
  #welcomeContent .upsellBlock {
      width: 100%;
  }
  #welcomeContent .IconContainer {
      width: 100%;
  }
  #welcomeContent .upSellInformation h3 {
      font-size: 4rem;
  }
  #pricingblocks h3 {
      font-size: 4rem;
      width: 90%;
  }
  .trippleBlockContainer {
      width: 90%;
  }
  .firstBlock h6 {
      font-size: 2.5rem;
  }
  .firstBlock p {
      font-size: 1.8rem;
  }
  /* Contact section */
  .reachOut {
      width: 80%;
      margin: 0 auto;
  }
  .title {
    margin-top: 0;
    padding: 50px 0 30px 0;
    margin-bottom: 0;
    width: 100%;
  }
  .contactUs {
      width: 100%;
  }
  #welcomeContent .upSellInformation {
      width: 90%;
  }
}

.IconContainer img {
    width: 100%;
}